$body-background: rgb(248, 248, 248);
$brand-primary: #999;
$primary-font-size: 9pt;
$foreground:#006ee6;
$background:#f8f8f8;
$secondary-font-size: $primary-font-size / 2.5pt;
$main-content-class: "things";
$foreground-readmore-button:#ffffff;
$background-readmore-button:#0072ee;