.App {
  text-align: center;  
  background-color: #282c34 !important;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
}

.header{
  justify-content:'center !important';
  display:'flex !important';
  
}

.App-link {
  color: #09d3ac;
}

