<section class="things">
    <div class="container">
        <h1>10 Best Places to visit in this Life, atleast for once</h1>
         <div class="row">
              <div class="col-auto side-background" id="side-backgroud">
                  <nav class="nav flex-column">
                      <a class="nav-link foreground background" href="#frenchPolynesia">French Polynesia</a>
                      <a class="nav-link foreground background" href="#Lencois">Lencois</a>
                      <a class="nav-link foreground background" href="#Pyramids">Pyramids</a>
                      <a class="nav-link foreground background" href="#bluehole">The great Blue hole</a>
                      <a class="nav-link foreground background" href="#highlands">Highlands</a>
                      <a class="nav-link foreground background" href="#Bolivia">Bolivia</a>
                      <a class="nav-link foreground background" href="#Stonehenge">Stonehenge</a>
                      <a class="nav-link foreground background" href="#barrierReef">Barrier Reef</a>
                      <a class="nav-link foreground background" href="#tianzi">Tianzi Mountains</a>
                      <a class="nav-link foreground background" href="#venice">Venice</a>
                    </nav>
                </div>
        <div class="col-sm">
            {{!-- the first row with three elements --}}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a id="frenchPolynesia">
                        <img  class="card-img-top" src="../../public/images/borabora.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Bora Bora, French Polynesia</h2>
                            <p class="card-text">The Great Barrier Reef is the largest collection of coral reefs in the world, spanning over 1,400 miles.</p>
                            <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#Bora-Bora">Read More</a>
                        </div>
                    </div>
                    <div class="modal" id="Bora-Bora" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Bora Bora, French Polynesia</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>The Great Barrier Reef is the largest collection of coral reefs in the world, spanning over 1,400 miles. It’s so large that it can be seen from space, and it’s among one of the Seven Wonders of the Natural World. It is the place to go diving, offering a one-of-a-kind display of underwater life.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a id="Lencois" >
                        <img class="card-img-top" src="../../public/images/brazil-dunes.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Lencois Maranhenses, Brazil</h2>
                            <p class="card-text">This area features a collection of clean, white sand dunes intertwined with crystal clear blue...</p>
                            <a href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-target="#LencoisModal" data-toggle="modal">Read More</a>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1"  id="LencoisModal" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Lencois Maranhenses, Brazil</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>This area features a collection of clean, white sand dunes intertwined with crystal clear blue waters, creating the kind of picturesque beauty you’d hope for–but rarely see–in a beach.Lençóis Maranhenses National Park (Parque Nacional dos Lençóis Maranhenses[a]) is a national park located in Maranhão state in northeastern Brazil, just east of the Baía de São José. Protected on June 2, 1981, the 155,000 ha (380,000-acre) park includes 70 km (43 mi) of coastline, and an interior composed of rolling sand dunes. During the rainy season, the valleys among the dunes fill with freshwater lagoons, prevented from draining due to the impermeable rock beneath.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a id="Pyramids">
                        <img  class="card-img-top" src="../../public/images/egypt-cairo-pyramids-of-giza-and-camels-2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Pyramids of Giza, Egypt</h2>
                            <p class="card-text">As the only one of the Seven Ancient Wonders of the World still largely intact, the Pyramids of Giza are definitely worth a visit to under...</p>
                            <a  href="" data-toggle="modal" data-target="#pyramidsModal" class="btn btn-primary foreground-Readmore-button background-Readmore-button">Read More</a>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" id="pyramidsModal" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Pyramids of Giza, Egypt</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>As the only one of the Seven Ancient Wonders of the World still largely intact, the Pyramids of Giza are definitely worth a visit. Dating back to around 2,560 BC, the Great Pyramid of Giza stood as the tallest man-made structure for over 3,800 years.</p>
                            </div>
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
            {{!-- the second row with three elements --}}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a id="bluehole">
                        <img  class="card-img-top" src="../../public/images/greatblueHole.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">The Great Blue Hole, Belize</h2>
                            <p class="card-text">Off the coast of Belize, divers find a submarine sinkhole called The Great Blue Hole, where the water is...</p>
                            <a  href="" data-toggle="modal" data-target="#blueHoleModal" class="btn btn-primary foreground-Readmore-button background-Readmore-button">Read More</a>
                        </div>
                    </div>
                    <div class="modal" id="blueHoleModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">The Great Blue Hole, Belize</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Off the coast of Belize, divers find a submarine sinkhole called The Great Blue Hole, where the water is 407 feet deep. It’s over 980 feet wide and can easily be seen from above.The Great Blue Hole is a giant marine sinkhole off the coast of Belize. It lies near the center of Lighthouse Reef, a small atoll 70 km (43 mi) from the mainland and Belize City. The hole is circular in shape, 318 m (1,043 ft) across and 124 m (407 ft) deep.[1] It was formed during several episodes of quaternary glaciation when sea levels were much lower.</p>
                            </div>
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a  id="highlands">
                        <img class="card-img-top" src="../../public/images/northern-lights-road-XL-1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Highlands, Iceland</h2>
                            <p class="card-text">A dazzling Northern Lights show is something that should be on every bucket list, and one of the best...</p>
                            <a  href="" data-target="#HighlandsModal" data-toggle="modal" class="btn btn-primary foreground-Readmore-button background-Readmore-button">Read More</a>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" id="HighlandsModal" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Highlands, Iceland</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>A dazzling Northern Lights show is something that should be on every bucket list, and one of the best places to see the show is in Iceland’s highlands.The Highlands of Iceland (Icelandic: hálendið) are a sparsely inhabited plateau that covers most of the interior of Iceland. They are situated above 400–500 metres (1300–1600 feet) and are mostly an uninhabitable volcanic desert, because the water precipitating as rain or snow infiltrates so quickly into the ground that it is unavailable for plant growth. This results largely in a surface of grey, black or brown earth, lava and volcanic ashes. A few oasis-like areas, such as Herðubreiðarlindir near Askja, are found only in proximity to rivers.</p>
                            </div>
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a id="Bolivia">
                        <img class="card-img-top" src="../../public/images/reflection-salar-de-uyuni-bolivia.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Salar De Uyuni, Bolivia</h2>
                            <p class="card-text">You won't regret this. It’s effectively the world’s largest mirror and a breathtaking sightful...</p>
                            <a  href="" data-toggle="modal" data-target="#boliviaModal" class="btn btn-primary foreground-Readmore-button background-Readmore-button">Read More</a>
                        </div>
                    </div>
                    <div class="modal" id="boliviaModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Salar De Uyuni, Bolivia</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>This massive salt flat–the largest in the world–spans a massive 4,086 square miles. Formed by several ancient lakes, this salt flat becomes so reflective in the rainy season that it’s used to calibrate satellites. It’s effectively the world’s largest mirror and a breathtaking sight.</p>
                            </div>
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- the third row with three elements --}}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a id="Stonehenge" >
                        <img class="card-img-top" src="../../public/images/Stonehenge2007_07_30.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Stonehenge, Amesbury, England</h2>
                            <p class="card-text">Lots of mystery surrounds Stonehenge, and contrary to those who believe it’s just a pile of 25-ton rocks...</p>
                            <a   href="" data-toggle="modal" data-target="#stonehengeModal" class="btn btn-primary foreground-Readmore-button background-Readmore-button">Read More</a>
                        </div>
                    </div>
                    <div class="modal" id="stonehengeModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Stonehenge, Amesbury, England</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Lots of mystery surrounds Stonehenge, and contrary to those who believe it’s just a pile of 25-ton rocks, it’s actually a beautiful sight. Book a guided tour to visit the center, and at sunset, enjoy the stunning glow of the setting sun between Stonehenge’s pillars.</p>
                            </div>
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a id="barrierReef" >
                        <img class="card-img-top" src="../../public/images/Thegreatbarrierreef.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title"> The Great Barrier Reef, Queensland, Australia</h2>
                            <p class="card-text">The Great Barrier Reef is the largest collection of coral reefs in the world, spanning over 1,400 miles...</p>
                            <a  href="" data-target="#reefModal" data-toggle="modal" class="btn btn-primary foreground-Readmore-button background-Readmore-button">Read More</a>
                        </div>
                    </div>
                    <div class="modal" id="reefModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">The Great Barrier Reef</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>The Great Barrier Reef is the largest collection of coral reefs in the world, spanning over 1,400 miles. It’s so large that it can be seen from space, and it’s among one of the Seven Wonders of the Natural World. It is the place to go diving, offering a one-of-a-kind display of underwater life.</p>
                            </div>
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <a id="tianzi">
                        <img  class="card-img-top" src="../../public/images/tianziMountains.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Tianzi Mountains, China</h2>
                            <p class="card-text">Set as the inspiration for the floating mountains in the movie Avatar, these formations are more breathtaking than you can imagine...</p>
                            <a  href="" data-toggle="modal" data-target="#TianziModal" class="btn btn-primary foreground-Readmore-button background-Readmore-button">Read More</a>
                        </div>
                    </div>
                    <div class="modal" id="TianziModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Tianzi Mountains</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Set as the inspiration for the floating mountains in the movie Avatar, these formations are more breathtaking than you can imagine. The area spans 16,550 acres, and the tallest peak rises about 4,140 feet above sea level.</p>
                            </div>
                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- the last row --}}
            <div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <a id="venice">
                            <img class="card-img-top" src="../../public/images/venice.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h2 class="card-title">Venice,Italy</h2>
                                <p class="card-text">Venice is the perfect destination for travelers seeking a unique city experience. The canals that run through the city act as roadways, providing...</p>
                                <a href="" data-target="#VeniceModal" data-toggle="modal"  class="btn btn-primary foreground-Readmore-button background-Readmore-button">Read More</a>
                            </div>
                        </div>
                        <div class="modal" id="VeniceModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">Venice</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Venice is the perfect destination for travelers seeking a unique city experience. The canals that run through the city act as roadways, providing a unique transportation option while delivering a beautiful scene.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>